body {
  margin: 0%;
  background-color: #FFFED7;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 60px 90px 40px 70px 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 10px;
  width: 320px;
  height: 440px;
}

nav {
  grid-column: 1 / 6;
  grid-row: 1 / 2;
  background-color: #BF3837;
}

.bar {
  grid-column: 1 / 6;
  grid-row: 3 / 4;
  background-color: #BF3837;
}

.whatis {
  grid-column: 1 / 6;
  grid-row: 4 / 5;
  background-color: rgb(135, 179, 112);
}

@media only screen and (min-device-width: 600px) {
  body {
    background-color: rgb(172, 145, 36);
  }
}
