body {
  margin: 0%;
  background-color: #FFFED7;
  overflow-y: hidden;
}

.fade {
  transition: 0.5s;
  opacity: 0.5;
}

main {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 60px 90px 40px 95px 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 10px;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  transition: 0.5s;
  position: absolute;
  z-index: 0;
}

.menuButton {
  grid-column: 5 / 6;
  grid-row: 1 / 2;
  background-color: rgb(185, 104, 200);
}

nav {
  grid-column: 1 / 6;
  grid-row: 1 / 2;
  background-color: #BF3837;
}

.menu {
  width: 70vw;
  height: 100vh;
  position: absolute;
  background: white;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
}

.show {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.5s, opacity 0.5s linear;
}

.bar {
  grid-column: 1 / 6;
  grid-row: 3 / 4;
  background-color: #BF3837;
}

.whatis {
  grid-column: 1 / 6;
  grid-row: 4 / 5;
  background-color: rgb(135, 179, 112);
}


@media only screen and (min-device-width: 600px) {
  body {
    background-color: rgb(172, 145, 36);
  }
}
